@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500&family=Merriweather:wght@300;400;700;900&family=Rubik+Glitch&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-slate-100 text-slate-700 dark:bg-brand2-500 dark:text-slate-200;
  }

  .mxw-lg {
    @apply w-full max-w-[1600px] mx-auto px-8;
  }

  .mxw-sm {
    @apply w-full max-w-5xl mx-auto px-8;
  }

  h1,h2,h3,h4,h5,h6 {
    @apply text-slate-800 font-bold dark:text-slate-100;
  }

}

html,
body {
  /* overflow-x: hidden; */ /* Ohtherwise position sticky won't work on child elements */
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  font-family: 'Albert Sans', 'Merriweather', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ==============================
Styling code block title generated
the mdx rehype plugin
============================== */
.rehype-code-title {
  @apply italic text-center !mb-2 text-lg md:text-xl;
}

/* ==============================
Make the images inside the blog
posts fill entire available width
============================== */
.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.unset-img {
  width: 100%;
}
.unset-img > span {
  position: unset !important;
}

/* ==============================
Scrollbar styling for our block
of codes inside of any blog post
============================== */
.code-block.pre-scrollbar::-webkit-scrollbar {
  @apply bg-transparent h-3;
}
.code-block.pre-scrollbar::-webkit-scrollbar-track {
  @apply rounded-lg bg-transparent;
}
.code-block.pre-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-brand1;
}
.code-block.pre-scrollbar::-webkit-scrollbar-button {
  @apply bg-transparent rounded-lg;
  display: none;
}

/* for the theme switch text hover effect */
.text-label {
  @apply border-2 border-transparent;
}
.switch-toggler:hover > .text-label {
  @apply hover:text-brand1-500 border-b-brand1-500 duration-300 text-brand1-500;
}

/* =================================================
  Adjusting the first line of our code block component
================================================== */
.code-block-pre>code:first-child {
  @apply -ml-2;
}

/* Adds a little spacing at the end of a code block line */
.code-block-pre .code-line {
  @apply pr-4;
}